a {
    color: red;
    text-decoration: none;
    font-size: 30px;
}

.content p {
    color: aquamarine;
    font-size: 24px;
    background-color: blue;
}
.gallary{
    max-width: 600px;
    margin: 0 auto;
    border: 3px solid red;
}